.container{
    max-width: 600px;
  }
  .btn{
    background: rgb(196, 97, 126);
    color: white;
    outline: none !important;
    box-shadow: none !important;
  }
  .btn:focus{
    outline: none !important;
  }
  .username{
    font-weight: bold;
  }
  .time{
    color:#9999;
    font-size: 0.7em;
  }